.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #3e98d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Add-To-Do {
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  border-color: black;
  padding: 30px;
}

#title {
  position: absolute;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#e0d954;
  font-size: 50px;
  left: 20px;
  top: 20px;
}

#head {
  margin-bottom: 6px;
}

#input {
  height: 22px;
  font-size: 20px;
}

#button {
  margin-left: 15px;
  font-size:20px;
}

#Delete {
  height: 22px;
  font-size: 15px;
  align-items: center;
  text-align: center;
  color: rgb(255, 2, 28);
}