.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #3e98d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Add-To-Do {
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  border-color: black;
  padding: 30px;
}

#title {
  position: absolute;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#e0d954;
  font-size: 50px;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

#head {
  margin-bottom: 6px;
}

#input {
  height: 22px;
  font-size: 20px;
}

#button {
  margin-left: 15px;
  font-size:20px;
  cursor: pointer;
}

#Delete {
  position: relative;
  height: 22px;
  font-size: 15px;
  align-items: center;
  text-align: right;
  color: rgb(255, 2, 28);
  margin-left: 80px;
}

.motivational {
  position: absolute;
  font-size: 15px;
  top: 30px;
  right: 60px;
  cursor: pointer;
  font-weight: bold;

  @media (max-width: 480px) {
    position: static;
    top: initial;
    right: initial;
    margin-top: 80px; 
    margin-bottom: 50px;
    text-align: center;
  }
}

#ordered {
  margin-bottom: 10%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#e0d954;
  text-align: left;
}

.Congrats {
  margin-top: 20px;
  font-size: 50px;
  color-scheme: rgb(58, 58, 231);
  font-weight: bold;
}